*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about{
    width: 100%;
    padding: 70px;
    background-color:black;
}

.about img{
    height: auto;
    width:420px ;
    border-radius: 100px;
}

.abouttext{
    width: 500px;
}
.main{
    width:1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.abouttext h1{
    color:white;
    font-size: 50px;
    margin-bottom: 15px;

}
.abouttext h5{
    color: red;
    font-size: 23px;
}
.abouttext p{
    color: wheat;
    letter-spacing: 1.5px;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 45px;
    margin-top: 11px;
}
button{
    background: red;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 11px;
    border-radius: 10px;
}
button a{
    text-decoration: none;
    color: white;
}
button:hover{
    text-decoration: underline;
}
